@use "@styles/common" as *;

.inner {
    padding: 73px 0;
    width: 90vw;
    margin: 0 auto;

    .main_h2 {
        font-size: 40px;
        font-size: 1.25rem;
        line-height: 1.75rem;
        padding-bottom: 40px;
        margin-top: 98px
    }

    .write_list {
        @include column-flexbox();
        gap: 60px;
    }

    >ul>li {
        &:first-child {
            width: 100%;
            margin-bottom: auto;
        }

        &:last-child {
            width: 100%;
            padding-top: 30px;
            margin-bottom: auto;
        }
    }

    .main_header {
        @include flexbox($jc: space-between, $ai: center);
        width: 100%;
        padding: 10vw 0 7vw;

        h2 {
            @include flexbox($jc: flex-start, $ai: center);
            font-size: 4.2vw;
            font-weight: bold;
            color: #000;
            gap: 2vw;

            .ico_fire {
                background: url('/images/ico_fire.png') no-repeat center/contain;
                display: inline-block;
                width: 6vw;
                height: 6vw;
                transform: translateY(-.8vw);
            }
        }
    }

    .issueCardOverride {
        :global(.IssueCard-module-scss-module__pt0ffG__card_container) {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}

.card_no_Data {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 100px 0;

    img {
        margin-top: 100px;
    }

    .warning_text {
        font-weight: 500;
        font-size: 1.5rem;
        padding-top: 13px;
        color: #6b6b6b;
    }
}