@use "@styles/common" as *;

.inner {
    padding: 198px 0 100px;
    width: 1200px;
    margin: 0 auto;
    .main_h2 {
        font-size: 40px;
        padding: 35px 0;
    }
    .write_list {
        @include flexCenter(space-between);
    }
    > ul > li {
        &:first-child {
            width: 670px;
            margin-bottom: auto;
        }
        &:last-child {
            width: 450px;
            padding-top: 30px;
            margin-bottom: auto;
        }
    }
}
.card_no_Data {
    width: 300px;
    margin: auto;
    text-align: center;
    padding: 100px 0;
    img {
        margin-top: 100px;
    }
    .warning_text {
        font-weight: 500;
        font-size: 25px;
        padding-top: 13px;
        color: #6b6b6b;
    }
}
