@import '@styles/common';

.inner {
    padding: 100px 0;
    width: 1200px;
    margin: 0 auto;
    .main_h2 {
        font-size: 40px;
        padding: 35px 0;
    }
    .write_list {
        @include flexCenter(space-between);
    }
    > ul > li {
        &:first-child {
            width: 670px;
        }
        &:last-child {
            width: 450px;
            padding-top: 30px;
            margin-bottom: auto;
        }
    }
}
